// Footer
.footerGeneral{
    margin: auto;
    padding-top: 1rem;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    background-color: #a675e0;
    color: #000000;
    vertical-align: text-bottom;
    height: 130px;
    min-width: 100vw;
    overflow: hidden;
}

.footerGeneral div{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-end;
}