// Forms
.formulario{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    align-items: center;
    justify-items: center;
    /* text-align: center; */
    overflow: hidden;
    background-color: none;
}