// Headers
#img-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 30%;
    margin: auto;
    cursor: pointer;
    overflow: hidden;
    margin-top: 10px;
}

#img-social{
    height: 40px;
    width: 40px;
    margin-left: 10px;
    cursor: pointer;
}