// Tipografías
#tipografia-h1{
    margin-left: 10px;
    padding-top: 2rem;
    padding-bottom: 0.5rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1.50rem;
    overflow: hidden;
    text-align: center;
}

#tipografia-h2{
    margin-left: 10px;
    padding-top: 2rem;
    padding-bottom: 0.5rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    text-align: center;
    overflow: hidden;
}

#tipografia-texto{
    margin-left: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}